# Build directories
build/
out/
bin/
obj/

# VS Code
.vscode/

# Log files
*.log

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json

#MacOS
.DS_Store
